body {
	margin: 0;
	color: white;
	font-family: 'Roboto', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background-color: #001936;
}

a, a:hover {
	color: white;
}

.my-modal-width {
	max-width: 300px;
	margin: auto;
	color: white;
}

.close, .close:hover {
	color: white;
}

/* h4 {
	color: #ccefff;
	background-color: #c5a800;
	color: #ff4444;
	color: #c5c5c5;
	background-image: linear-gradient(#001936, #00346e, #002857);
} */